#container {
	background-color: #ffffff;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #9ddbe3;
}

h1 {
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  }

p {
	font-family: "Noto Serif", serif;
  	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
  	font-variation-settings:
    "wdth" 100;
}

#nav {
	list-style-type: none;
	padding: 0;
	background: #e8e8e8;
}

#nav ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
	display: block;
    background-color: #e8e8e8;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

#nav a:hover, a:active {
	background-color: #bcbcbc;
}

#list {
	font-family: "Noto Serif", serif;
	display: flex;
	flex-flow: column;
}

.joke {
	font-family: "Noto Serif", serif;
	font-weight: bold;
}

#nav {
	display: flex;
	flex-flow: column;
}

@media (min-width: 800px) {
	#nav{
		flex-flow: row;
		justify-content: flex-end;
	}
	#list {
		flex-flow: row;
		padding: 1;
		gap: 30px;
	}
}
